# WEB
FIREBASE_WEB_API_KEY=secret
FIREBASE_WEB_APP_ID=secret

# ANDROID
FIREBASE_ANDROID_API_KEY=secret
FIREBASE_ANDROID_APP_ID=secret

# IOS / MACOS
FIREBASE_IOS_API_KEY=secret
FIREBASE_IOS_APP_ID=secret
FIREBASE_IOS_BUNDLE_ID=secret

# WINDOWS
FIREBASE_WINDOWS_APP_ID=secret

# SHARED
FIREBASE_PROJECT_ID=secret
FIREBASE_MESSAGING_SENDER_ID=secret
FIREBASE_AUTH_DOMAIN=secret.firebaseapp.com
FIREBASE_STORAGE_BUCKET=secret.firebasestorage.app